@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
::selection {
  background-color: var(--color-primary);
}

*,
*::before,
*::after {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html {
  --color-primary: #8b0100;
  --color-primary-m: #ac04523f;
  --color-secondary: #c4195d;
  --color-secondary-m: #a546a0;
  --color-tertiary: #74235d;
  --color-tertiary-m: #2224369a;
  --color-quaternary: #50396d;
  --color-quaternary-m: #012e4480;
  --color-quinary: #ffe6d9;
  --color-quinary-m: rgba(255, 255, 255, 0.5);
}

html[data-theme='dark'] {
  --color-primary: rgb(36, 38, 43);
  --color-primary-m: rgba(36, 38, 43, 0.65);
  --color-secondary: rgb(124, 185, 8);
  --color-secondary-m: rgba(123, 185, 8, 0.5);
  --color-tertiary: rgb(38, 52, 65);
  --color-tertiary-m: rgb(64, 127, 130, 0.65);
  --color-quaternary: rgb(64, 69, 79);
  --color-quaternary-m: rgb(64, 69, 79, 0.65);
  --color-quinary: white;
  --color-quinary-m: rgba(255, 255, 255, 0.5);
}

:root {
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.9;
  background-color: var(--color-primary);
}

.container {
  display: grid;
  grid-template-columns: [container-start] 1fr [center-start] repeat(6, [col-start] minmax(min-content, 16.66667rem) [col-end]) [center-end] 1fr [container-end];
  grid-template-rows: min-content 90vh repeat(9, min-content);
}

@media (max-width: 820px) {
  .container {
    grid-template-rows: min-content 100vh repeat(9, min-content);
  }
}

li {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--color-quinary);
  letter-spacing: 0.2rem;
  font-weight: 300;
  font-size: calc(1.2rem + 0.3vw);
}

i {
  color: var(--color-secondary);
  font-size: calc(1.5rem + 1.7vw);
}

.header {
  background-color: var(--color-secondary);
  grid-column: container-start / container-end;
}

.header.open .header__menu--line {
  background-color: transparent;
}

.header.open .header__menu--line::before,
.header.open .header__menu--line::after {
  content: '';
  top: 0;
}

.header.open .header__menu--line::before {
  content: '';
  transform: rotate(45deg);
}

.header.open .header__menu--line::after {
  content: '';
  transform: rotate(-45deg);
}

.header__overlay {
  width: 100%;
  height: 100vh;
  background-color: var(--color-tertiary);
  position: fixed;
  opacity: 0;
  display: none;
  z-index: 10;
}

.header__nav {
  width: 100%;
  height: 7rem;
  line-height: 7rem;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--color-primary);
  text-transform: uppercase;
  overflow: hidden;
}

.header__nav--logo {
  padding: 1rem;
}

.header__nav--logo img {
  width: 5rem;
  height: 5rem;
}

.header__nav--links {
  display: flex;
}

.header__nav--links__item a:link,
.header__nav--links__item a:visited {
  margin-right: 2vw;
  padding: 0 1.5rem;
  display: block;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: top;
  transition: transform 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.header__nav--links__item a:hover,
.header__nav--links__item a:active {
  transform: rotateX(90deg);
}

.header__nav--links__item a:link::after,
.header__nav--links__item a:visited::after {
  content: attr(data-text);
  position: absolute;
  background-color: var(--color-tertiary);
  left: 0;
  bottom: -100%;
  transform: rotateX(-90deg);
  transform-origin: top;
  padding: 0 1.5rem;
}

.header__nav--links__item:nth-child(odd) {
  animation: downwards 1s forwards;
}

.header__nav--links__item:nth-child(even) {
  animation: upwards 1s forwards;
}

.header__nav--links__toggle-container {
  display: flex;
  align-items: center;
}

.header__nav--links__toggle-container i {
  color: var(--color-quinary);
  font-size: 1.5rem;
  margin-right: 5px;
}

.header__nav--links__toggle-container .fa-sun {
  display: none;
}

.header__nav--links__toggle-container input[type='checkbox'] {
  position: relative;
  width: 6rem;
  height: 3rem;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--color-quinary);
  border-radius: 2.5rem;
  box-shadow: inset 0 0 0.6rem 0.1rem #9e9d9d;
  transition: all 0.5s ease-in-out;
}

.header__nav--links__toggle-container input:checked[type='checkbox'] {
  background-color: var(--color-primary-m);
}

.header__nav--links__toggle-container input:not(:checked)[type='checkbox'] {
  background-color: var(--color-tertiary);
}

.header__nav--links__toggle-container input[type='checkbox']::before,
.header__nav--links__toggle-container input[type='checkbox']::after {
  content: '';
  position: absolute;
  top: 0.8rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--color-quinary);
  box-shadow: 0 0.1rem 0.3rem 0.1rem rgba(128, 128, 128, 0.35);
  transition: all 0.5s ease-in-out;
}

.header__nav--links__toggle-container input[type='checkbox']::before {
  left: 0.5rem;
}

.header__nav--links__toggle-container input[type='checkbox']::after {
  right: 0.5rem;
}

.header__nav--links__toggle-container input:checked[type='checkbox']::before {
  left: 37%;
  box-shadow: none;
}

.header__nav--links__toggle-container input:checked[type='checkbox']::after {
  right: 37%;
  box-shadow: none;
}

@media (min-width: 1300px) {
  .header__nav--links__item a:link,
  .header__nav--links__item a:visited {
    font-size: 1.7rem;
  }
}

@media (max-width: 820px) {
  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 25rem;
    height: 100vh;
    line-height: initial;
    flex-direction: column;
    text-align: center;
    z-index: 20;
    transform: perspective(70rem) rotateY(0.5turn);
    transform-origin: top left;
    transition: transform 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .header__nav--links {
    height: 80%;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 10%;
  }
  .header__nav--links__item {
    animation: initial;
  }
  .header__nav--links__item a:link,
  .header__nav--links__item a:visited {
    position: relative;
    transform-origin: left;
    margin-right: initial;
    padding: 2rem;
    font-size: 1.6rem;
  }
  .header__nav--links__item a:hover,
  .header__nav--links__item a:active {
    transform: rotateY(90deg);
  }
  .header__nav--links__item a:link::after,
  .header__nav--links__item a:visited::after {
    top: 0;
    bottom: 100%;
    left: 100%;
    width: 100%;
    height: 100%;
    line-height: 7rem;
    transform-origin: left;
    transform: rotateY(-90deg);
  }
  .header__nav--links__toggle-container {
    flex-direction: column;
    justify-content: center;
  }
  .header__nav--links__toggle-container i {
    margin-bottom: 5px;
  }
  .header.open nav {
    transform: rotateY(0);
  }
  .header__menu {
    position: fixed;
    height: 4rem;
    width: 4rem;
    top: 2rem;
    right: 2rem;
    padding: 2.5rem;
    z-index: 20;
    cursor: pointer;
  }
  .header__menu--line, .header__menu--line::before, .header__menu--line::after {
    content: '';
    position: absolute;
    width: 3.5rem;
    height: 2px;
    background-color: var(--color-quinary);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: all 0.5s ease-in-out;
  }
  .header__menu--line::before {
    top: -2.2rem;
  }
  .header__menu--line::after {
    top: 2.2rem;
  }
  .header__overlay.open {
    display: block;
    opacity: 0.8;
  }
}

@keyframes downwards {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes upwards {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.hero {
  grid-column: container-start / container-end;
  background: linear-gradient(135deg, rgba(1, 46, 68, 0.65) 0%, rgba(1, 46, 68, 0.65) 100%), url(../img/hero/hero-bg.jpg);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero__content {
  display: flex;
  flex-direction: column;
}

.hero__content--title {
  text-align: center;
  font-size: calc(1.5rem + 4.5vw);
  font-weight: 300;
  background-color: #00dbde;
  background-image: linear-gradient(135deg, var(--color-secondary), var(--color-quinary));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.hero__content--para {
  font-size: calc(1.5rem + 0.8vw);
  font-weight: 300;
  color: var(--color-quinary);
  margin-bottom: calc(1rem +2vw);
}

.hero__content--links {
  display: flex;
  justify-content: center;
}

.hero__content--links a:link,
.hero__content--links a:visited {
  font-size: calc(1.2rem + 0.3vw);
  padding: calc(0.5rem + 1vh) calc(1rem + 1vw);
  text-transform: uppercase;
  position: relative;
  border-radius: 0.5rem;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

.hero__content--links a:link:first-child,
.hero__content--links a:visited:first-child {
  background-color: var(--color-tertiary);
  border: 0.2rem solid var(--color-tertiary);
  color: var(--color-quinary);
  margin: calc(0.5rem + 1vw);
}

.hero__content--links a:link:last-child,
.hero__content--links a:visited:last-child {
  background-color: var(--color-secondary);
  border: 0.2rem solid var(--color-secondary);
  color: var(--color-quinary);
  margin: calc(0.5rem + 1vw);
}

.hero__content--links a:link:first-child::before,
.hero__content--links a:visited:first-child::before,
.hero__content--links a:link:last-child::before,
.hero__content--links a:visited:last-child::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-quinary);
  border-radius: inherit;
  z-index: -1;
  transform: scale(0);
  transition: all 0.5s ease-in-out;
}

.hero__content--links a:hover:first-child::before,
.hero__content--links a:active:first-child::before,
.hero__content--links a:hover:last-child::before,
.hero__content--links a:active:last-child::before {
  transform: scale(1);
}

.hero__content--links a:hover:first-child,
.hero__content--links a:active:first-child {
  color: var(--color-secondary);
}

.hero__content--links a:hover:last-child,
.hero__content--links a:active:last-child {
  color: var(--color-tertiary);
}

@media (max-width: 820px) {
  .hero__content {
    margin-bottom: 10%;
  }
  .hero__content--title {
    text-align: left;
  }
  .hero__content--links {
    justify-content: flex-start;
  }
  .hero__content--links a:link:first-child,
  .hero__content--links a:visited:first-child {
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  .hero {
    padding: 4rem;
  }
  .hero__content--title {
    font-size: calc(2.5rem + 4.5vw);
    font-weight: 400;
  }
  .hero__content--para {
    font-size: 2rem;
  }
  .hero__content--links a:link:last-child,
  .hero__content--links a:visited:last-child {
    margin-left: 0;
  }
}

@media (max-width: 450px) {
  .hero__content--links {
    flex-direction: column;
    align-items: flex-start;
  }
  .hero__content--links a:links,
  .hero__content--links a:visited {
    margin-left: 0;
  }
}

.motto {
  grid-column: container-start / container-end;
  background-image: -webkit-linear-gradient(top, var(--color-tertiary-m), var(--color-tertiary-m)), url(../img/motto/motto-bg.jpg);
  background-image: linear-gradient(var(--color-tertiary-m), var(--color-tertiary-m)), url(../img/motto/motto-bg.jpg);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2.5rem;
  place-content: center;
}

.motto__content {
  display: grid;
  row-gap: 4vh;
  background-color: var(--color-quaternary-m);
  padding: 2rem;
  transition: transform 0.3s ease-in-out;
}

.motto__content--link:link, .motto__content--link:visited {
  position: relative;
  background: none;
  place-self: start;
  padding: 1rem 1.5rem;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.motto__content--link:link span, .motto__content--link:visited span {
  display: block;
  position: absolute;
}

.motto__content--link:link span:nth-child(1), .motto__content--link:visited span:nth-child(1) {
  top: 0;
  left: -100%;
  height: 0.2rem;
  width: 100%;
  background: linear-gradient(90deg, transparent, var(--color-secondary));
  transition: 0.5s;
  transition-delay: 1s;
}

.motto__content--link:link span:nth-child(2), .motto__content--link:visited span:nth-child(2) {
  top: -100%;
  right: 0;
  height: 100%;
  width: 0.2rem;
  background: linear-gradient(180deg, transparent, var(--color-secondary));
  transition: 0.5s;
  transition-delay: 0.75s;
}

.motto__content--link:link span:nth-child(3), .motto__content--link:visited span:nth-child(3) {
  bottom: 0;
  right: -100%;
  height: 0.2rem;
  width: 100%;
  background: linear-gradient(270deg, transparent, var(--color-secondary));
  transition: 0.5s;
  transition-delay: 0.3s;
}

.motto__content--link:link span:nth-child(4), .motto__content--link:visited span:nth-child(4) {
  bottom: -100%;
  left: 0;
  height: 100%;
  width: 0.2rem;
  background: linear-gradient(360deg, transparent, var(--color-secondary));
  transition: 0.5s;
  transition-delay: 0;
}

.motto__content--link:hover, .motto__content--link:active {
  background: var(--color-secondary);
  transition-delay: 0.55s;
}

.motto__content--link:hover span:nth-child(1),
.motto__content--link:active span:nth-child(1) {
  left: 100%;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

.motto__content--link:hover span:nth-child(2),
.motto__content--link:active span:nth-child(2) {
  top: 100%;
  transition-duration: 0.5s;
  transition-delay: 0.135s;
}

.motto__content--link:hover span:nth-child(3),
.motto__content--link:active span:nth-child(3) {
  right: 100%;
  transition-duration: 0.5s;
  transition-delay: 0.27s;
}

.motto__content--link:hover span:nth-child(4),
.motto__content--link:active span:nth-child(4) {
  bottom: 100%;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
}

.motto__content:hover {
  transform: translateY(-5px);
}

@media (min-width: 1300px) {
  .motto {
    background-position: initial !important;
  }
  .motto__content--title {
    font-weight: 500 !important;
    font-size: 4rem !important;
  }
  .motto__content--para {
    font-size: 1.8rem !important;
  }
}

@media (max-width: 450px) {
  .motto {
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr)) !important;
  }
  .motto__content {
    max-width: 40rem;
    min-width: 27rem;
    row-gap: 4vh;
    background-color: var(--color-quaternary-m);
    padding: 2rem;
  }
}

.features__content:nth-child(1) {
  background-image: url(../img/features/features-1.jpg);
}

.features__content:nth-child(2) {
  background-image: url(../img/features/features-2.jpg);
}

.features__content:nth-child(3) {
  background-image: url(../img/features/features-3.jpg);
}

.features__content:nth-child(4) {
  background-image: url(../img/features/features-4.jpg);
}

.features__content:nth-child(5) {
  background-image: url(../img/features/features-5.jpg);
}

.features__content:nth-child(6) {
  background-image: url(../img/features/features-6.jpg);
}

.features__content:nth-child(7) {
  background-image: url(../img/features/features-7.jpg);
}

.features__content:nth-child(8) {
  background-image: url(../img/features/features-8.jpg);
}

.features__content:nth-child(9) {
  background-image: url(../img/features/features-9.jpg);
}

.features {
  background-color: var(--color-quinary);
  grid-column: container-start / container-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
  gap: 2rem;
}

.features__content {
  display: grid;
  gap: 2vw;
  padding: 2rem 4rem;
  height: 45rem;
  align-items: center;
}

.features__content--title {
  font-weight: 700 !important;
  text-align: center;
  position: relative;
  align-self: flex-end;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

.features__content--title::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}

.features__content:hover .features__content--title::before,
.features__content:active .features__content--title::before {
  transform: scaleX(1);
  transform-origin: left;
}

.features__content--para {
  font-weight: 500;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.features__content--link:link, .features__content--link:visited {
  padding: 1rem 1.7rem;
  justify-self: flex-start;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.features__content--link:link span, .features__content--link:visited span {
  position: absolute;
  display: block;
}

.features__content--link:link span:nth-child(1), .features__content--link:visited span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 0.3rem;
  background-image: linear-gradient(90deg, transparent, var(--color-secondary));
  animation: border1 2s linear infinite;
  animation-delay: 0s;
}

.features__content--link:link span:nth-child(3), .features__content--link:visited span:nth-child(3) {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.3rem;
  background-image: linear-gradient(180deg, transparent, var(--color-secondary));
  animation: border3 2s linear infinite;
  animation-delay: 0s;
}

.features__content--link:link span:nth-child(2), .features__content--link:visited span:nth-child(2) {
  top: 0;
  right: 0;
  width: 0.3rem;
  height: 100%;
  background-image: linear-gradient(270deg, transparent, var(--color-secondary));
  animation: border2 2s linear infinite;
  animation-delay: 0.5s;
}

.features__content--link:link span:nth-child(4), .features__content--link:visited span:nth-child(4) {
  top: 0;
  left: 0;
  width: 0.3rem;
  height: 100%;
  background-image: linear-gradient(360deg, transparent, var(--color-secondary));
  animation: border4 2s linear infinite;
  animation-delay: 0.5s;
}

.features__content--link:hover, .features__content--link:active {
  background-color: var(--color-secondary);
}

@media (min-width: 1300px) {
  .features__content--title {
    font-weight: 500 !important;
    font-size: 4rem !important;
  }
  .features__content--para {
    font-size: 1.8rem !important;
  }
}

@media (max-width: 450px) {
  .features {
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  }
  .features__content {
    max-width: 40rem;
    min-width: 27rem;
    padding: 2rem 2rem;
  }
  .features__content--title {
    font-weight: 500 !important;
    font-size: 3rem !important;
  }
  .features__content--para {
    font-size: 1.5rem !important;
  }
}

@keyframes border1 {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes border3 {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

@keyframes border2 {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}

@keyframes border4 {
  0% {
    top: 100%;
  }
  100% {
    top: -100%;
  }
}

.trainers {
  grid-column: center-start / center-end;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.trainers__title {
  text-align: center;
  margin-bottom: 2rem;
  background-color: var(--color-tertiary-m);
  border-radius: 0 0 8rem 8rem;
}

.trainers__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 6vh calc(1rem + 1vw);
  place-items: center;
}

.trainers__content--card {
  display: grid;
  position: relative;
  height: 30rem;
  width: 30rem;
  overflow: hidden;
}

.trainers__content--card__specialty, .trainers__content--card__name {
  position: absolute;
  bottom: 20%;
  left: 5%;
  transform: translate(-25rem, -15rem);
}

.trainers__content--card__name {
  bottom: 25%;
}

.trainers__content--card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

.trainers__content--card:hover .trainers__content--card__img,
.trainers__content--card:active .trainers__content--card__img {
  filter: brightness(30%);
}

.trainers__content--card:hover .trainers__content--card__specialty,
.trainers__content--card:active .trainers__content--card__specialty,
.trainers__content--card:hover .trainers__content--card__name,
.trainers__content--card:active .trainers__content--card__name {
  animation: name 1.5s linear forwards;
  z-index: 1;
}

@media (max-width: 450px) {
  .trainers__title {
    max-width: 27rem !important;
    font-size: 1.5rem !important;
    margin: 0 auto 2vh;
  }
  .trainers__content {
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  }
  .trainers__content--card {
    height: 25rem;
    width: 25rem;
  }
}

@keyframes name {
  0% {
    transform: translate(-25rem, -15rem);
    opacity: 0;
  }
  30% {
    transform: translate(8rem, -15rem);
    opacity: 0.5;
  }
  60% {
    transform: translate(8rem, 0rem);
    opacity: 0.8;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.testimonials {
  grid-column: container-start / container-end;
  background-image: -webkit-linear-gradient(top, var(--color-tertiary-m), var(--color-tertiary-m)), url(../img/testimonials/testimonials-bg.jpg);
  background-image: linear-gradient(var(--color-tertiary-m), var(--color-tertiary-m)), url(../img/testimonials/testimonials-bg.jpg);
}

.testimonials__title {
  text-align: center;
  margin-bottom: 4vh;
}

.testimonials__content {
  max-width: 100rem;
  margin: 0 auto;
}

.testimonials__content--slider {
  border: 0.1rem solid var(--color-quinary);
  max-width: 60rem;
  min-width: 25rem;
  margin: 0 auto;
  text-align: center;
  padding: 2vh 1vw;
  overflow: hidden;
}

.testimonials__content--slider__slide {
  display: none;
}

.testimonials__content--slider__slide--para {
  margin-bottom: 3rem;
}

.testimonials__content--slider__slide.active {
  display: block;
  animation: slide 1s linear;
}

.testimonials__content--indicator {
  padding-top: 4vh;
  padding-bottom: 4vh;
  display: flex;
  justify-content: center;
}

.testimonials__content--indicator__img {
  width: calc(7rem + 6vw);
  height: calc(7rem + 6vw);
  object-fit: cover;
  border-radius: 50%;
  margin: 2vh 2vw;
  opacity: 0.2;
  border: 0.2rem solid var(--color-quinary);
  cursor: pointer;
  transition: opacity 1s ease;
}

.testimonials__content--indicator__img.active {
  opacity: 1;
}

@media (max-width: 820px) {
  .testimonials__content--indicator__img {
    width: calc(7rem + 7vw);
    height: calc(7rem + 7vw);
  }
}

@keyframes slide {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.clients {
  grid-column: container-start / container-end;
  background-image: linear-gradient(var(--color-quaternary-m), var(--color-quaternary-m)), url(../img/clients/clients-bg.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.clients__title {
  color: var(--color-quinary) !important;
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
  align-self: center;
  padding: 1rem;
}

.clients__title::before, .clients__title::after {
  content: "";
  position: absolute;
  top: 0;
  background-color: var(--color-quinary);
  height: 100%;
  width: 2px;
  transition: all 0.5s ease-in-out;
}

.clients__title::before {
  left: 0;
}

.clients__title::after {
  right: 0;
}

.clients__title:hover:before, .clients__title:active:before, .clients__title:hover:after, .clients__title:active:after {
  height: 2px;
  width: 100%;
}

.clients__title:hover:after, .clients__title:active:after {
  top: 100%;
}

.clients__content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.clients__content--img {
  border-radius: 2rem;
  background-color: var(--color-quinary);
  opacity: 0.8;
  width: 20rem;
  margin: 2rem;
  transition: all 0.3s ease-in-out;
}

.clients__content--img:hover, .clients__content--img:active {
  transform: scale(1.03);
  filter: invert(85%);
}

@media (max-width: 450px) {
  .clients__content--img {
    width: 15rem;
    margin: 1rem;
  }
  .clients__content--img img {
    width: 100%;
    object-fit: cover;
  }
}

.register {
  grid-column: container-start / container-end;
  background-color: var(--color-primary);
  color: var(--color-quinary);
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register--title {
  border-bottom: 1px solid var(--color-quinary);
  margin-bottom: 10vh;
}

.register__progress {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  gap: 2rem;
}

.register__progress--step {
  font-size: 2rem;
  background-color: var(--color-tertiary-m);
  padding: 1rem;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  text-align: center;
  position: relative;
  transition: all 0.5s ease-in;
}

.register__progress--step i {
  font-size: calc(1.2rem + 0.3vw);
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.register__progress--step i.active {
  display: block;
}

.register__progress--step span.active {
  display: none;
}

.register__content {
  width: 28rem;
  margin-top: 2rem;
  overflow: hidden;
}

.register__content--form {
  display: flex;
  justify-content: center;
  width: 400%;
  transition: all 0.5s ease-in-out;
}

.register__content--form__page {
  position: relative;
  width: 50%;
  display: grid;
  grid-template-rows: repeat(3, 7rem);
  gap: 4rem;
  align-items: flex-start;
}

.register__content--form__page--field {
  height: 4rem;
  width: 28rem;
}

.register__content--form__page--field label {
  font-size: 2rem;
}

.register__content--form__page--field input,
.register__content--form__page--field select {
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
  padding-left: 1rem;
  border: none;
  outline: none;
  background-color: var(--color-quinary-m);
  color: var(--color-quinary);
  letter-spacing: 0.2rem;
  font-family: 'Roboto', sans-serif;
}

.register__content--form__page--field select {
  color: black;
}

.register__content--form__page--field input:focus {
  background-color: var(--color-quaternary-m);
}

.register__content--form__page--field button {
  padding: 0.8rem 1.7rem;
  width: 100%;
  height: 100%;
  background-color: var(--color-tertiary-m);
  border: none;
  color: var(--color-quinary-m);
  font-size: 1.8rem;
  cursor: pointer;
  letter-spacing: 0.2rem;
  transition: all 0.5s ease-in-out;
  outline: none;
}

.register__content--form__page--field button:hover,
.register__content--form__page--field button:active {
  background-color: var(--color-secondary);
}

.register__content--form__page .btns {
  display: flex;
}

.register__content--form__page .btns button:nth-child(1) {
  margin-right: 0.5rem;
}

.register__content--form__page .btns button:nth-child(2) {
  margin-left: 0.5rem;
}

.footer {
  grid-column: container-start / container-end;
  background-image: linear-gradient(var(--color-tertiary-m), var(--color-tertiary-m)), url(../img/footer/footer-bg.jpg);
  background-image: -webkit-linear-gradient(top, var(--color-tertiary-m), var(--color-tertiary-m)), url(../img/footer/footer-bg.jpg);
  display: grid;
  grid-template-rows: repeat(3, max-content);
  gap: 8vh;
}

.footer__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, 25rem);
  place-content: center;
  gap: 10rem 4vw;
}

.footer__content--section {
  display: grid;
  gap: 1.5rem;
}

.footer__content--section_link:link, .footer__content--section__link:visited {
  display: block;
  letter-spacing: initial;
}

.footer__content--section__para, .footer__social--call p {
  color: var(--color-quinary);
  font-weight: 300;
  font-size: calc(1.2rem + 0.3vw);
}

.footer__content--section:not(:last-child) {
  border-right: 0.1rem solid var(--color-quinary);
}

.footer__content--section:nth-child(3) {
  padding-right: 4vw;
}

.footer__content--section:nth-child(3) input[type='email'] {
  padding: 1rem;
  background-color: transparent;
  color: var(--color-quinary);
  border: 0.1rem solid var(--color-quinary);
  border-bottom: none;
  border-right: none;
}

.footer__content--section:nth-child(3) input[type='submit'] {
  background-color: transparent;
  color: var(--color-quinary);
  border: none;
  font-size: 1.5rem;
  border: 0.1rem solid var(--color-quinary);
  padding: 0.85rem 1.5rem;
  cursor: pointer;
  outline: none;
  transition: all 0.5s ease-in-out;
}

.footer__content--section:nth-child(3) input::placeholder {
  color: var(--color-quinary);
}

.footer__content--section:nth-child(3) input:focus::placeholder {
  color: var(--color-secondary);
}

.footer__content--section:nth-child(3) input[type='submit']:hover,
.footer__content--section:nth-child(3) input[type='submit']:active {
  background-color: var(--color-quinary);
  color: var(--color-secondary);
}

.footer__content--section:last-child {
  padding-bottom: 4vh;
  border-bottom: 0.1rem solid var(--color-quinary);
}

.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__logo img {
  height: 5rem;
  width: 5rem;
}

.footer__logo span {
  font-size: 2.5rem;
  color: var(--color-quinary);
  margin-left: 0.5rem;
  letter-spacing: 0.2rem;
  font-family: 'Roboto', sans-serif;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__social--call {
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.footer__social--call p,
.footer__social--call i {
  display: inline-block;
}

.footer__social--call i {
  font-size: 3rem;
}

.footer__social--call p {
  margin-left: 1rem;
}

.footer__social--icons {
  display: flex;
}

.footer__social--icons__link:link, .footer__social--icons__link:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: calc(0.5rem + 2vw);
  height: 3rem;
  width: 3rem;
  border: 0.1rem solid var(--color-quinary);
  padding: 2.5rem;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.footer__social--icons__link:link i, .footer__social--icons__link:visited i {
  font-size: 3rem;
}

.footer__social--icons__link:link::before, .footer__social--icons__link:visited::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-quinary);
  border-radius: 50%;
  transform: scale(0);
  transition: 0.5s all ease;
  z-index: -1;
}

.footer__social--icons__link:hover::before, .footer__social--icons__link:active::before {
  transform: scale(1);
}

@media (max-width: 600px) {
  .footer__social {
    justify-content: center;
  }
}

.hero, .motto, .features__content:nth-child(1), .features__content:nth-child(2), .features__content:nth-child(3), .features__content:nth-child(4), .features__content:nth-child(5), .features__content:nth-child(6), .features__content:nth-child(7), .features__content:nth-child(8), .features__content:nth-child(9), .testimonials, .clients, .register, .footer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero, .motto, .features, .trainers, .testimonials, .clients, .register, .footer {
  padding: 6vh 4vw;
}

.motto__content--title, .features__content--title, .trainers__title, .testimonials__title, .clients__title, .register--title {
  font-size: calc(1.5rem + 1.7vw);
  font-weight: 300;
  letter-spacing: 0.2rem;
  color: var(--color-quinary);
}

.trainers__content--card__name, .testimonials__content--slider__slide--title, .footer__content--section__title {
  font-size: calc(1.2rem + 0.3vw);
  color: var(--color-quinary);
}

.trainers__content--card__specialty {
  color: var(--color-quinary);
}

.motto__content--para, .features__content--para, .testimonials__content--slider__slide--para {
  font-size: calc(1.2rem + 0.3vw);
  color: var(--color-quinary);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.2rem;
}

.scroll-top {
  opacity: 0;
  position: fixed;
  bottom: 120rem;
  right: 2rem;
  cursor: pointer;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.scroll-top i {
  font-size: 4rem;
}

.scroll-top.active {
  opacity: 1;
  z-index: 25;
  bottom: 4rem;
}

html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
  transition: all 0.7s !important;
  transition-delay: 0 !important;
}
/*# sourceMappingURL=style.css.map */